main {
    max-width: 1000px;
    display: grid;
    grid-template-areas: "h h h"
                         "n n n"
                         "as as ar"
                         "f f f";
}
header {
    grid-area: h;
}
nav {
    grid-area: n;
}
article {
    grid-area: ar;
}
aside {
    grid-area: as;
    width: 200px;
}
footer {
    grid-area: f;
}
li {
    padding: 5px;
    /* Nem volt konkrét érték megadva */ 
}

menu {
    background-color: orange;
    /* Nem volt konkrétan megadva */ 
}


@media screen and (max-width:700px) {

    main {
        width: 100%;
        display:grid;
        grid-template-areas: "h"
                             "n"
                             "as"
                             "ar"
                             "f";
    }

    nav {
        grid-template-columns: 1fr;
    }
}
