main {
    max-width: 1000px;
    display: grid;
    grid-template-areas: "h h h"
                         "n n n"
                         "as as ar"
                         "f f f";
}
header {
    grid-area: h;
}
nav {
    grid-area: n;
}
article {
    grid-area: ar;
}
aside {
    grid-area: as;
    width: 200px;
}
footer {
    grid-area: f;
}
